/* Notes */
/* 
border radius: 1rem

Section max-width: 100rem





*/

/* Shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  background-color: #080708;
  color: #444;
}

.container {
  margin: 0 auto;
  width: 100rem;
}

h1,
h2,
h3 {
  font-family: "Didact Gothic", sans-serif;
}

h1 {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

h2 {
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
  line-height: 1.05;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2.8rem;
  font-family: "Rubik", sans-serif;
}

.btn:link,
.btn:visited {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #c92a2a;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

.btn:hover,
.btn:active {
  background-color: #e03131;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn--grey:link,
.btn--grey:visited {
  background-color: #080808;
  border: 2px solid #444;
  color: #444;
}

.btn--grey:hover,
.btn--grey:active {
  background-color: #080808;
  border: 2px solid #999;
  color: #999;
}

section {
  padding: 5.6rem 0;
  background-color: #f7f7f7;
}

a {
  color: #444;
  font-family: "Rubik", sans-serif;
}

/* Header */

header {
  background-color: #080808;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 25rem;
}

.logoTop {
  color: #777;
  font-size: 3.5rem;
  text-transform: uppercase;
}

nav {
  font-size: 3rem;
}

.nav {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav li a:hover {
  color: #999;
  border-bottom: 2px solid #999;
}

.nav a {
  font-size: 2rem;
  text-decoration: none;
}

.header-container {
  width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.header-container-inner {
  display: grid;
  grid-template-columns: 70fr 30fr;
  gap: 4rem;
  padding: 4rem;
  background-color: #111;
  border-radius: 1rem;
}

.welcome {
  font-size: 4.5rem;
  color: #555;
}

.BrendaHero {
  width: 50rem;
  height: 50rem;
  border-radius: 200rem;
  border: 15px solid #333;
}

.grid-2 {
  position: relative;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 0 3rem;
  row-gap: 8rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  align-items: baseline;
}

.grid-2::after {
  content: "Brenda Flores - Master Stylist";
  display: inline-block;
  position: absolute;
  background-color: #444;
  color: #f7f7f7;
  font-size: 1.4rem;
  width: fit-content;
  align-content: center;
  padding: 1rem;
  top: 35.5rem;
  left: 21.5rem;
  border-radius: 1rem;
}

/* Stats */

.stat-info {
  width: 80rem;
  text-align: center;
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.stats {
  background-color: #080808;
  justify-content: center;
  display: flex;
  justify-content: center;
  width: 120rem;
  margin: 0 auto;
  gap: 5rem;
}

.statistic,
a {
  font-size: 2rem;
}

/* Reviews */
.reviews {
  background-color: #111;
}

.review-headline {
  color: #ddd;
  text-align: center;
}

.review-title {
  color: #aaa;
}

.review p {
  color: #888;
}

.reviewer {
  font-size: 1.7rem;
  font-weight: 300;
  color: #555;
}

.read-more {
  color: #c92a2a;
  font-size: 2rem;
  margin-left: 2rem;
}

/* Latest Work */

.recent-work {
  background-color: #080708;
  max-width: 100rem;
  margin: 0 auto;
}

img {
  width: 24rem;
  border-radius: 0.5rem;
}

.recent-img {
  transition: transform 0.2s;
}

.recent-img:hover {
  transform: scale(1.7);
}

/* Call to action */
.cta {
  background-color: #080708;
}

/* Footer */

footer {
  background-color: #000;
  padding: 1rem;
}
